@tailwind base;
@tailwind components;
@tailwind utilities;


.logo {
    @apply text-5xl text-justify leading-normal;
    max-width: 800px;
    
    
}

h1 {
    font-family: 'times new roman';
    @apply text-3xl pb-4
}

h2 {
    font-family: 'times new roman';
    @apply text-2xl py-2
}
