@tailwind base;
@tailwind components;
@tailwind utilities;


.logo {
    @apply text-6xl text-justify leading-tight pb-0;
    max-width: 800px;
    
    
}

h1 {
    font-family: 'times new roman';
    @apply text-3xl pb-2
}

h2 {
    font-family: 'times new roman';
    @apply py-2
}

p {
    @apply mb-4
}

.link {
    @apply text-blue-600 underline cursor-pointer;
}

.fixedSearch { 
    @apply  top-0 left-0 bg-white fixed shadow p-2
}

.vue2leaflet-map {
    @apply flex-grow
}